.apartman{width:350px; 
height: auto; 
margin:70px auto}

.baca{width: 25px; 
height: 50px; 
background-color: #960; 
margin: 0 0 0 250px;}

.cati{width: 250px; 
height: 250px; 
background-color: Orange; 
transform: rotate(45deg); 
margin: -50px 0 0 50px; 
position: relative; 
z-index: 1;}

.govde{width: 330px; 
height: 470px; 
background-color: LightGray; 
margin: -125px 0 0 0; 
position: relative; 
z-index: 2; 
padding: 30px 0 0 20px;}

.pencere1{width: 58px; 
height: 58px; 
background-color: cadetblue; 
border: 1px solid #000; 
float:left; 
margin: 0 0 65px 0;}

.pencere2{width: 58px; 
height: 58px; 
background-color: cadetblue; 
border: 1px solid #000; 
float:left; 
margin: 0 0 65px 65px;}

.pencere3{width: 58px; 
height: 58px; 
background-color: cadetblue; 
border: 1px solid #000; 
float:left; 
margin: 0 0 65px 65px;}

.solperde{width: 23px; 
height: 56px; 
background-color: #fff; 
border-radius: 0 0 20px 0; 
border-right: 1px solid #000; 
border-bottom: 1px solid #000; 
float: left;}

.sagperde{width: 23px; 
height: 56px; 
background-color: #fff; 
border-radius: 0 0 0 20px; 
border-left: 1px solid #000; 
border-bottom: 1px solid #000; 
float: left; 
margin: 0 0 0 10px;}

.kapitabela{width: 90px; 
height: 152px; 
float: left; 
margin: -56px 0 0 110px;}

.tabela{width: 88px; 
height: 21px; 
background-color: #fff; 
border: 1px solid #000; 
font: bold 11px tahoma; 
text-align: center; 
padding: 4px 0 0 0;}

.kapi{width: 86px; 
height: 118px; 
background-color: Tomato; 
border-left: 2px solid #000; 
border-right: 2px solid #000; 
border-top: 2px solid #000; 
margin: 5px 0 0 0;}

.kapikolu{width: 15px; 
height: 3px; 
background-color: #000; 
margin: 50px 0 0 15px;}

/* .p4{width: 58px; height: 58px; background-color: #ff9; border: 1px solid #000; float:left;}
.p5{width: 58px; height: 58px; background-color: #ff9; border: 1px solid #000; float:left; 
margin: 0 0 0 50px;} */